{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "quoteProps": "consistent",
  "printWidth": 120
}
